:root[theme='light'] {
    --color01: #F7C9F3;
    --color02: #4180F6;
    --color03: #110038;
    --color04: #997D97;
    --color05: #FFFFFF;
    --color06: var(--color03);
    --color07: #E6BBE2;
    --color08: #F0F0F0;
    --color09: #FFF4FD;
    --color10: #CCA6C9;
    --color11: #E6DCE4;
    --color12: #808080;
    --color13: #B4B4B4;
    --color14: #E6E6E6;
    --color15: var(--color13);
    --color16: rgb(144, 129, 162);
    --color17: var(--color12);
    --color18: var(--color13);
    --color19: #979797;
    --color20: var(--color14);
    --color21: #000000;
    --color22: var(--color08);
    --color23: var(--color02);
    --color24: #4C2F99;
    --color25: #284F99;
    --color26: #FFFAFE;
    --color27: var(--color07);
    --color28: var(--color11);
    --color29: #80687D;
    --color30: var(--color03);
    --color31: var(--color04);
    --color32: var(--color05);
    --color33: #FF6161;
    --color34: #993A3A;
    --color35: var(--color09);
    --color36: var(--color10);

    --color_background: var(--color09);
    --dropdown_theme_btn: url("../img/dropdown.svg");
    --textDecoretion_FirstLetter_Btn_Theme_Light: underline;
    --theme_icon_path: url("../img/gifOF_logo.png");
    --theme_magnifyingglass_path: url("../img/lupa.svg");
    --crearguif_capturar_icon: url("../img/camera_light.svg");
    --btn_capturando_icon: url("../img/recording_light.svg");
}

:root[theme='dark'] {
    --color01: #EE3EFE;
    --color02: #2E32FB;
    --color03: #110038;
    --color04: #A72CB3;
    --color05: #FFFFFF;
    --color06: var(--color05);
    --color07: #CE36DB;
    --color08: var(--color02);
    --color09: #CCCCCC;
    --color10: #808080;
    --color11: #B4B4B4;
    --color12: rgba(51, 53, 143, 0.20);
    --color13: #E6DCE4;
    --color14: var(--color11);
    --color15: #8F8F8F;
    --color16: rgb(128, 119, 148);
    --color17: var(--color10);
    --color18: var(--color11);
    --color19: #979797;
    --color20: #E6E6E6;
    --color21: #000000;
    --color22: var(--color09);
    --color23: #4180F6;
    --color24: #4C2F99;
    --color25: #284F99;
    --color26: #FFFAFE;
    --color27: var(--color02);
    --color28: var(--color13);
    --color29: var(--color03);
    --color30: var(--color11);
    --color31: #5C5C5C;
    --color32: #FFF4FD;
    --color33: #FF6161;
    --color34: #993A3A;
    --color35: var(--color02);
    --color36: var(--color12);

    --color_background: var(--color03);
    --dropdown_theme_btn: url("../img/dropdown_dark.svg");
    --textDecoretion_FirstLetter_Btn_Theme_Dark: underline;
    --theme_icon_path: url("../img/gifOF_logo_dark.png");
    --theme_magnifyingglass_path: url("../img/lupa_dark.svg");
    --crearguif_capturar_icon: url("../img/camera_dark.svg");
    --btn_capturando_icon: url("../img/recording_dark.svg");
}

:root {
    --gel_width: 288px;

    --ALL_font-family: 'Chakra Petch', monospace;

    /* Inner dot line */
    --ALL_outline: var(--color03) dotted 1px;
    --ALL_outline-offset: -4px;

    /* Gradiente Bar */
    --barLinearGradient: linear-gradient(270deg, var(--color01) 0%, var(--color02) 100%);

    /* Buttons */
    --btn_background: var(--color01);
    --btn_border: 1px solid var(--color03);
    --btn_box-shadow: inset -1px -1px 0 0 var(--color04), inset 1px 1px 0 0 var(--color05);
    --btn_font-weight: 400;
    --btn_font-size: 16px;
    --btn_color: var(--color06);
    --btn_letter-spacing: 0;
    --btn_text-align: center;
    --btn_line-height: 18px;
    /* Buttons Hover */
    --btnHover_background: var(--color07);
    --btnHover_border: 1px solid var(--color03);
    --btnHover_box-shadow: inset -1px -1px 0 0 var(--color04), inset 1px 1px 0 0 var(--color05);
    /* Buttons Active */
    --btnActive_background: var(--btnHover_background);
    --btnActive_border: var(--btnHover_border);
    --btnActive_box-shadow: var(--btnHover_box-shadow);

    /* Buttons Themes */
    --btn-theme_font-weight: 400;
    --btn-theme_font-size: 16px;
    --btn-theme_letter-spacing: 0;
    --btn-theme_line-height: 22px;

    /* Buttons Themes List - Light - WINDOWS BACKGROUND*/
    --LstThemeBtns_background: var(--color14);
    --LstThemeBtns_box-shadow: inset -2px -2px 0 0 var(--color13), inset 2px 2px 0 0 var(--color05);

    /* Buttons Themes - Normal */
    --btn-theme-normal_color: var(--color03);
    --btn-theme-normal_background: var(--color22);
    --btn-theme-normal_border: 1px solid var(--color17);
    --btn-theme-normal_box-shadow: inset -1px -1px 0 0 var(--color18), inset 1px 1px 0 0 var(--color05);
    /* Buttons Themes - Hover */
    --btn-theme-hover_color: var(--color06);
    --btn-theme-hover_background: var(--color35);
    --btn-theme-hover_border: 1px solid var(--color36);
    --btn-theme-hover_box-shadow: inset -1px -1px 0 0 var(--color28), inset 1px 1px 0 0 var(--color05);


    /* Label Mis Guifos = HOVER */
    --label-MG_font-weight: 400;
    --label-MG_font-size: 16px;
    --label-MG_color: var(--color06);
    --label-MG_letter-spacing: 0;
    --label-MG_line-height: 18px;
    /* Label Mis Guifos = ACTIVE */
    --label-MG-Active_color: var(--color16);
    /* Label Mis Guifos - Hover */
    --label-MG-Hover_border: 1px dotted var(--color06);

    /* Búsquedas Sugeridas */
    --label-ListadoSugerenciasBusquedas_background: var(--color22);
    --label-ListadoSugerenciasBusquedas_border: 1px solid var(--color17);
    --label-ListadoSugerenciasBusquedas_box-shadow: inset -1px -1px 0 0 var(--color18), inset 1px 1px 0 0 var(--color05);

    /* Etiquetas de busquedas anteriores */
    --label-Etiquetas_background: var(--color23);
    --label-Etiquetas_border: 1px solid var(--color24);
    --label-Etiquetas_box-shadow: inset -2px -2px 0 0 var(--color25), inset 2px 2px 0 0 var(--color05);

    /* Secondary Button */
    --btn-secondary_font-family: 'Chakra Petch', monospace;
    --btn-secondary_font-weight: 400;
    --btn-secondary_font-size: 16px;
    --btn-secondary_color: var(--color06);
    --btn-secondary_letter-spacing: 0;
    --btn-secondary_text-align: center;
    --btn-secondary_line-height: 18px;
    --btn-secondary_background: var(--color_background);
    --btn-secondary_border: 1px solid var(--color30);
    --btn-secondary_box-shadow: inset -1px -1px 0 0 var(--color31), inset 1px 1px 0 0 var(--color32);

    /* Secondary Button > HOVER */
    --btn-secondary_outline: var(--color06) dotted 1px;
    --btn-secondary_outline-offset: -4px;
    /* Btn Capturando */
    --btn-capturando_background: var(--color33);
    --btn-capturando_border: 1px solid var(--color03);
    --btn-capturando_box-shadow: inset -1px -1px 0 0 var(--color34), inset 1px 1px 0 0 var(--color05);
    --btn-capturando_font-family: 'Chakra Petch', monospace;
    --btn-capturando_font-weight: 400;
    --btn-capturando_font-size: 16px;
    --btn-capturando_color: var(--color05);
    --btn-capturando_letter-spacing: 0;
    --btn-capturando_text-align: center;
    --btn-capturando_line-height: 18px;
}

* {
    margin: 0px;
    padding: 0px;
}

.hide {
    display: none !important;
}

body {
    background-color: var(--color_background);
    font-family: var(--ALL_font-family);
    min-width: 640px;
}

a {
    text-decoration: none;
}

.btn {
    cursor: crosshair;
    user-select: none;
}

.btnBuscar:disabled {
    cursor: not-allowed;
}

.outline:hover {
    outline: var(--ALL_outline);
    outline-offset: var(--ALL_outline-offset);
}

.logo_main {
    background-image: var(--theme_icon_path);
    width: 103px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.buscarBtnImg {
    background-image: var(--theme_magnifyingglass_path);
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

/*********************************************/

/* HEADERS INICIO */

.gradient {
    background-image: var(--barLinearGradient);
}

.headerBar {
    box-shadow: 0 1px 0 0 var(--color03);

    font-weight: 400;
    font-size: 12px;
    color: var(--color05);
    letter-spacing: 0;

    padding: 3px 0px 4px 7px;
    line-height: 16px;
}

.srinkText {
    /* TEXT OVERFLOW */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container {
    max-width: 1200px;
    width: calc(100% - 32px);
    /* Quiero un poco de margen */
    margin: 0 auto;
}

.barraPrincipal {
    margin-top: 35px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-clip: content-box;
}

header nav li {
    display: inline-block;
}

.btnButton {
    background: var(--btn_background);
    border: var(--btn_border);
    box-shadow: var(--btn_box-shadow);
    font-weight: var(--btn_font-weight);
    font-size: var(--btn_font-size);
    color: var(--btn_color);
    letter-spacing: var(--btn_letter-spacing);
    text-align: var(--btn_text-align);
    line-height: var(--btn_line-height);
}


.btnButton:hover {
    background: var(--btnHover_background);
    border: var(--btnHover_border);
    box-shadow: var(--btnHover_box-shadow);

}

.btnButton:active {
    background: var(--btnActive_background);
    border: var(--btnActive_border);
    box-shadow: var(--btnActive_box-shadow);
}

.btnButton:hover,
.btnButton:active {
    outline: var(--ALL_outline);
    outline-offset: var(--ALL_outline-offset);
}


.btnCrearGuifo {
    margin-right: 16px;

    display: inline-block;
    width: 144px;
    height: 36px;
    box-sizing: border-box;

    line-height: 36px;
}


.btnTheme {
    text-align: left;
    padding-left: 16px;

    display: inline-block;
    width: 131px;
    height: 36px;
    box-sizing: border-box;

    line-height: 36px;

    position: relative;

    user-select: none;

}

.btnTheme::after {
    content: '';
    background-color: var(--btn_background);
    background-image: var(--dropdown_theme_btn);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;

    width: 36px;
    height: 36px;
    box-sizing: border-box;

    position: absolute;
    left: 100%;
    top: -1px;

    border: var(--btn_border);
    box-shadow: var(--btn_box-shadow);
}

.btnTheme:hover::after {
    background-color: var(--btnHover_background);
    border: var(--btnHover_border);
    box-shadow: var(--btnHover_box-shadow);
    outline: var(--ALL_outline);
    outline-offset: var(--ALL_outline-offset);
}


.menuBtnThemes {
    position: absolute;

    width: 167px;
    height: 102px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    z-index: 2;
}

.windowBackground {
    background: var(--LstThemeBtns_background);
    box-shadow: var(--LstThemeBtns_box-shadow);
}

/* PRUEBA */

.btnThemeList {
    display: inline-block;
    width: 150px;
    height: 36px;
    line-height: 36px;

    box-sizing: border-box;
    padding-left: 16px;
    color: var(--btn-theme-normal_color);
    background: var(--btn-theme-normal_background);
    border: var(--btn-theme-normal_border);
    box-shadow: var(--btn-theme-normal_box-shadow);

}

.btnThemeList:hover {
    color: var(--btn-theme-hover_color);
    background: var(--btn-theme-hover_background);
    border: var(--btn-theme-hover_border);
    box-shadow: var(--btn-theme-hover_box-shadow);
}

.btnThemeLight::first-letter {
    text-decoration: var(--textDecoretion_FirstLetter_Btn_Theme_Light, none);
}

.btnThemeDark::first-letter {
    text-decoration: var(--textDecoretion_FirstLetter_Btn_Theme_Dark, none);
}


.btnMisGuifos {
    font-weight: var(--label-MG_font-weight);
    font-size: var(--label-MG_font-size);
    color: var(--label-MG_color);
    letter-spacing: var(--label-MG_letter-spacing);
    line-height: var(--label-MG_line-height);

    margin-left: calc(16.5px + 36px);
    position: relative;
}

.btnMisGuifos::after {
    content: '';
    width: 8px;
    height: 2px;
    display: inline-block;
    background-color: var(--color06);

    position: absolute;

    bottom: 0;
    left: 0;
}

.btnMisGuifos:hover::before {
    content: '';
    width: 95px;
    height: 32px;
    display: inline-block;

    position: absolute;

    bottom: -25%;
    outline: var(--color06) dotted 1px;
}

.btnMisGuifosActive,
.btnMisGuifos:active {
    color: var(--label-MG-Active_color);
}


.btnMisGuifosActive::after,
.btnMisGuifos:active::after {
    background-color: var(--label-MG-Active_color);
}

/* HEADERS FIN */

/* BUSCADOR - INICIO */
.busquedas {
    margin-top: 16px;
}

.windowTitle {
    display: inline-block;

    text-indent: 6px;
    user-select: none;
    font-weight: 700;
    font-size: 14px;
    color: var(--color05);
    letter-spacing: 0;

    line-height: 24px;
    height: 24px;

}

.titleBuscador {
    width: calc(100% - 6px);
    margin: 3px 3px 0px 3px;

}

.barraBusquedaYBoton {
    padding: 12px 18px 12px 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
}

.inputText {
    text-indent: 16px;
    box-sizing: border-box;
    height: 48px;

    flex-grow: 1;
    margin-right: 8px;
}

.inputTextStyle {
    background: var(--color05);
    border: 1px solid var(--color19);
    box-shadow: inset -2px -2px 0 0 var(--color20), inset 2px 2px 0 0 var(--color21);


    font-family: var(--ALL_font-family);
    font-weight: var(--btn_font-weight);
    font-size: 16px;
    color: var(--color03);
    letter-spacing: 0;
    line-height: 22px;
}

.btnBuscar {
    display: inline-block;
    height: 36px;
    padding: 9px 14px 9px 10px;
    vertical-align: middle;
}

.btnBuscar:active {
    background: var(--btnHover_background);
    border: var(--btnHover_border);
    box-shadow: var(--btnHover_box-shadow);
}


.buscarBtnLabel {
    font-family: var(--ALL_font-family);
    font-weight: var(--btn_font-weight);
    font-size: var(--btn_font-size);
    color: var(--btn_color);
    letter-spacing: var(--btn_letter-spacing);
    text-align: var(--btn_text-align);
    line-height: var(--btn_line-height);

    vertical-align: top;
    margin-left: 10px;
}

.btnBuscar:disabled {
    background: var(--color14);
    border: 1px solid var(--color17);
    box-shadow: inset -1px -1px 0 0 var(--color18), inset 1px 1px 0 0 var(--color05);
}

.btnBuscar:disabled:hover {
    outline: none;
}

.btnBuscar:disabled>.buscarBtnImg {
    filter: opacity(0.4) brightness(0.5);
}

.btnBuscar:disabled>span {
    color: var(--color15);
}

.listadoBusquedasSugeridas {
    padding: 16px 134px 6px 15px;
    position: absolute;

    max-width: 1200px;
    width: calc(100% - 32px);
    box-sizing: border-box;

    z-index: 2;
}

.busquedaSugerida {
    background: var(--label-ListadoSugerenciasBusquedas_background);
    border: var(--label-ListadoSugerenciasBusquedas_border);
    box-shadow: var(--label-ListadoSugerenciasBusquedas_box-shadow);


    text-indent: 16px;

    font-family: var(--ALL_font-family);
    font-size: 16px;
    font-weight: 400;
    color: var(--color03);
    letter-spacing: 0;
    line-height: 36px;

    display: block;
    box-sizing: border-box;
    height: 36px;

    margin-bottom: 10px;
}

.busquedaSugerida:hover {
    outline: var(--ALL_outline);
    outline-offset: var(--ALL_outline-offset);
}


nav.busquedasPrevias li {
    display: inline-block;
    margin-right: 8px;
}

.etiquetasBusquedasAnteriores {
    background: var(--label-Etiquetas_background);
    border: var(--label-Etiquetas_border);
    box-shadow: var(--label-Etiquetas_box-shadow);

    font-size: 14px;
    color: var(--color05);
    letter-spacing: 0;
    line-height: 18px;

    display: inline-block;
}

.etiquetasBusquedasAnteriores:hover {
    outline: var(--color03) dotted 1px;
    outline-offset: -6px
}

.busquedasPrevias .etiquetasBusquedasAnteriores {
    margin-top: 12px;
    padding: 8px 12px 8px 7px;
}

.guifsSugeridoYTendencia {
    margin-top: 64px;
}

.sectionTitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--color03);
    letter-spacing: 0;

    text-indent: 7px;
    line-height: 32px;
    height: 32px;

    position: sticky;
    z-index: 1;
    top: 0px;

    background: var(--color26);
    border: 1px solid var(--color27);
    box-shadow: inset -2px -2px 0 0 var(--color28), inset 2px 2px 0 0 var(--color29);
}


.misBusquedas {
    margin-top: 54px;
}

.grilla {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}



.windowGif {
    display: inline-block;
    margin-top: 11px;
    position: relative;
}

.windowGif:hover::before {
    box-shadow: var(--LstThemeBtns_box-shadow);
    background: var(--LstThemeBtns_background);

    content: '';
    position: absolute;
    z-index: -1;
    top: -3px;
    left: -3px;
    bottom: 1px;
    right: -3px;
}

.gif {
    height: 298px;
}

.gif_corto {
    width: 288px;
}

.gif_largo {
    width: 592px;
}

.gifOutline {
    display: inline;

    position: absolute;
    z-index: 1;
    --var_dist: 3px;
    top: var(--var_dist);
    left: var(--var_dist);
    bottom: calc(var(--var_dist) + var(--var_dist) + 1px);
    right: var(--var_dist);

    opacity: 0;
}

.gifOutline:hover {
    outline: var(--ALL_outline);
    opacity: 1;
}

.gifOutlineText {
    position: absolute;
    top: auto;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
}



.gifTags:hover {
    /* display: inline-block; */
    /* opacity: 1; */
    bottom: 50px;
    /* z-index: 4; */
    /* box-shadow: none; */
}

/* BUSCADOR - FIN */

/* SUGERENCIAS INICIO*/
.gifSug {
    height: 280px;
    width: 280px;

    position: absolute;
    bottom: 3px;
    left: 3px;

}


/* TENDENCIAS INICIO */
.grillaTendencias {
    margin-top: 5px;
}

/* TENDENCIAS FIN */




/* MIS GUIFOS INICIO */
.misGuifos {
    margin-top: 16px;
}

/* MIS GUIFOS FIN */











/* SUGERENCIAS - INICIO */
.guifsSugerido {
    margin-top: 64px;
}



.grillaSugerencia {
    margin-bottom: 64px;
}

.boxGifSugerencia {
    margin-top: 16px;

    display: inline-block;

    position: relative;

    width: 286px;
    height: 313px;
    box-sizing: border-box;
}

.titleGifSugerido {
    position: absolute;
    left: 3px;
    right: 3px;
    top: 3px;

}

.titleGifSugerido+img {
    position: absolute;
    right: 8px;
    top: 8px;
}

.btnVerMas {
    position: absolute;
    left: 13px;
    bottom: 19px;

    height: 34px;
    width: 81px;
    box-sizing: border-box;

    /* CENTRADO DE TEXTO */
    line-height: 34px;
    padding-left: 10px;
}


/* SUGERENCIAS - FIN */




/* MEDIA QUERIES */
@media (max-width: 1208px) {
    .grilla {
        justify-content: space-evenly;
    }
}